<div #scrollContainer>
    <header [class.hidden]="characterSelected" class="relative h-[70vh] max-[1155px]:h-[40vh] max-[455px]:h-[35vh] ">
        <app-header></app-header>
    </header>
    <header [class.hidden]="!characterSelected" class="relative h-[70vh] max-[1155px]:h-[50vh] max-[455px]:h-[50vh] ">
        <app-character-view></app-character-view>
    </header>
    <div class="char-list bg-dark-color-1 pb-5">
        <app-char-list (triggerScroll)="scrollToTop()"></app-char-list>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>