<div class="absolute top-0 w-full h-full bg-dark-color-1-5">
    <!-- Background path-->
    <img class="absolute w-[30%] lg:w-[22%] bottom-0 right-0" src="assets/svg/human-path.svg" alt="bg-path">
    <!-- Close button -->
    <button
        class="hidden lg:flex absolute btn btn-square z-50 pointer-events-auto rounded bg-dark-color-1 m-5 border-none shadow-inner text-light-color hover:bg-background-color hover:text-white  "
        (click)="closeCharacterView()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>

    <!-- Character view -->
    <div class="z-40 absolute w-full h-full flex items-center justify-around">
        <!-- Character info -->
        <div class="h-[80%] w-[40%]" *ngIf="characterFilter">
            <h1 class="text-white md:text-5xl text-xl font-semibold ">
                {{characterFilter.name}}</h1>
            <p class="text-xs md:text-base mb-3 text-light-green-pastel">
                {{ characterFilter.translatedSpecies
                }}
                <span *ngIf="characterFilter.type" class="text-dark-color-4"><span *ngIf="characterFilter.type"
                        class="text-dark-color-3">-</span>
                    {{characterFilter.type}}</span>
            </p>
            <p class="text-dark-color-4 text-xs md:text-base">
                {{'Origin:' | translate }}
            </p>
            <p *ngIf="characterFilter.origin" class="text-light-color text-xs md:text-lg">
                {{characterFilter.origin.name}}
            </p>
            <p *ngIf="!characterFilter.origin" class="text-light-color text-xs md:text-lg">
                {{'unknown' | translate }}
            </p>

            <p class="text-dark-color-4 text-xs md:text-base mt-3">
                {{'Last known location:' | translate }}
            </p>
            <p *ngIf="characterFilter.location" class="text-light-color text-xs md:text-lg">
                {{characterFilter.location.name}}
            </p>
            <p *ngIf="!characterFilter.location" class="text-light-color text-xs md:text-lg">
                {{'unknown' | translate }}
            </p>

            <!-- List of episodes -->
            <p class="text-dark-color-4 text-xs md:text-base mt-3 mb-1">
                {{'Episodes:' | translate }}
            </p>
            <div
                class="overflow-y-auto max-h-[20%] md:max-h-[40%] lg:max-h-[50%] relative w-full bg-dark-color-1 shadow-inner rounded flex flex-col divide-y divide-dark-color-1-5">
                <div class="flex gap-2 p-1 items-center" *ngFor="let episode of characterFilter.episode">

                    <span class="text-dark-color-3 text-2xs md:text-base font-medium ">{{episode.episode}}
                    </span>
                    <span class="text-light-color text-2xs md:text-lg font-medium ">{{episode.translatedName}} </span>
                    <span
                        class="text-dark-color-2 text-2xs md:text-base font-medium hidden md:block">{{episode.air_date}}</span>

                </div>

            </div>

        </div>

        <!-- Card -->
        <div class="rounded overflow-hidden shadow-md flex flex-col w-[40%] md:w-auto" *ngIf="characterFilter">
            <img *ngIf="characterFilter && characterFilter.image" src="{{characterFilter.image}}" alt="character-image">
            <div class="px-2 py-1 md:h-12 flex flex-row items-center justify-between bg-dark-color-1">
                <span class="py-1 font-regular mr-1 flex flex-row items-center">
                    <img *ngIf="characterFilter.status == 'Alive'" src="assets/svg/green-portal.svg"
                        class="status-portal h-3 md:h-5">
                    <img *ngIf="characterFilter.status == 'Dead'" src="assets/svg/red-portal.svg"
                        class="status-portal h-3 md:h-5">

                    <img *ngIf="characterFilter.status == 'unknown'" src="assets/svg/gray-portal.svg"
                        class="status-portal h-3 md:h-5">
                    <span class="ml-1 text-sm md:text-base  text-light-color">{{ characterFilter.translatedStatus
                        }}</span>
                </span>
            </div>
        </div>
    </div>
</div>