/* Footer animations */
.name,
.footer-icons {
    transition: .3s;
}

.name:hover {
    border: none;
    color: var(--light-green-pastel);
}

.footer-icons:hover {
    color: var(--light-green-pastel);
    transform: translate(-100%);
}

#plumbus {
    left: var(--pos-x);
    top: var(--pos-y);
    animation: fadeIn .2s ease-in forwards;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}