/* Footer animations */
.name,
.footer-icons {
    transition: .3s;
}

.name:hover {
    border: none;
    color: var(--light-green-pastel);
}

.footer-icons:hover {
    color: var(--light-green-pastel);
    transform: translate(-100%);
}
