<div id="controls-carousel" class="relative w-full" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden md:h-96">
        <div [class.hidden]="!location" class="duration-700 ease-in-out" data-carousel-item>
            <p *ngIf="location && location.image">{{location.image}}</p>
            <img *ngIf="location && location.image" src="{{location.image}}"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="item 1">
        </div>
        <!-- Item 1 -->
        <div [class.hidden]="locationList.length <= 0" class="duration-700 ease-in-out" data-carousel-item>
            <img *ngIf="locationList[0] && locationList[0].image" src="{{locationList[0].image}}"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="item 1">
        </div>

        <!-- Item 2 -->
        <div [class.hidden]="locationList.length <= 0" class="duration-700 ease-in-out" data-carousel-item>
            <img *ngIf="locationList[1] && locationList[1].image" src="{{locationList[1].image}}"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="item 2">
        </div>

        <!-- Item 3 -->
        <div [class.hidden]="locationList.length <= 0" class="duration-700 ease-in-out" data-carousel-item>
            <img *ngIf="locationList[2] && locationList[2].image" src="{{locationList[2].image}}"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="item 3">
        </div>

        <!-- Item 4 -->
        <div [class.hidden]="locationList.length <= 0" class="duration-700 ease-in-out" data-carousel-item>
            <img *ngIf="locationList[3] && locationList[3].image" src="{{locationList[3].image}}"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="item 4">
        </div>

        <!-- Item 5 -->
        <div [class.hidden]="locationList.length <= 0" class="duration-700 ease-in-out" data-carousel-item>
            <img *ngIf="locationList[4] && locationList[4].image" src="{{locationList[4].image}}"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="item 5">
        </div>

        <!-- Item 6 -->
        <div [class.hidden]="locationList.length <= 0" class="duration-700 ease-in-out" data-carousel-item>
            <img *ngIf="locationList[5] && locationList[5].image" src="{{locationList[5].image}}"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="item 6">
        </div>

        <!-- Item 7 -->
        <div [class.hidden]="locationList.length <= 0" class="duration-700 ease-in-out" data-carousel-item>
            <img *ngIf="locationList[6] && locationList[6].image" src="{{locationList[6].image}}"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="item 7">
        </div>

        <!-- Item 8 -->
        <div [class.hidden]="locationList.length <= 0" class="duration-700 ease-in-out" data-carousel-item>
            <img *ngIf="locationList[7] && locationList[7].image" src="{{locationList[7].image}}"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="item 8">
        </div>

        <!-- Item 9 -->
        <div [class.hidden]="locationList.length <= 0" class="duration-700 ease-in-out" data-carousel-item>
            <img *ngIf="locationList[8] && locationList[8].image" src="{{locationList[8].image}}"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="item 9">
        </div>

        <!-- Item 10 -->
        <div [class.hidden]="locationList.length <= 0" class="duration-700 ease-in-out" data-carousel-item>
            <img *ngIf="locationList[9] && locationList[9].image" src="{{locationList[9].image}}"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="item 10">
        </div>


    </div>
    <!-- Slider controls -->
    <button type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev>
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 1 1 5l4 4" />
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next>
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 9 4-4-4-4" />
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>