/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    height: 100vh;
    background-color: var(--background-color);
}

::selection {
    background: var(--light-green-moss);
    color: var(--dark-color-1);
}

::-moz-selection {
    background: var(--light-green-moss);
    color: var(--dark-color-1);
}

.basics {

    /* basic colors */
    --background-color: #161814ff;
    --dark-color-1: #2b2d29ff;
    --dark-color-2: #424440ff;
    --dark-color-3: #5a5b58ff;
    --dark-color-4: #737472ff;
    --light-color: #8d8f8cff;

    /* palette color */
    --light-green-bright: #c0f661ff;
    --light-green-pastel: #c6f96bff;
    --dark-green-forest: #304d1bff;
    --medium-green: #68ac52ff;
    --light-green-moss: #7bbb6bff;
    --dark-green-leaf: #355728ff;

    /* basic style */
    font-family: "Lexend", sans-serif;

    /* screen size */
    --screen-heigh: 100vh;
    --screen-with: 100vw;


}