<div class="gradient leading-relaxed tracking-wide flex flex-col h-auto">
    <!--Nav-->
    <nav id="header" class="w-full z-30 top-0 text-white py-4 pb-5 ">
        <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-2 lg:py-6">
            <div class="pl-4 flex items-center">
                <a class="text-dark-color-3 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
                    <img src="assets/svg/plumbus-contour.svg" id="plumbus-contour"
                        class="h-10 lg:h-20 inline-block cursor-pointer" alt="plumbus">
                    Plumbus X
                </a>
            </div>

            <div class="block lg:hidden pr-4" (click)="showNav()">
                <button id="nav-toggle"
                    class="flex items-center px-3 py-2 rounded text-light-color hover:text-dark-color-2 appearance-none focus:outline-none">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                    </svg>
                </button>
            </div>

            <div [class.hidden]="navHidden"
                class="w-full flex-grow lg:flex lg:items-center lg:w-auto text-light-color p-4 lg:p-0 z-20"
                id="nav-content">
                <ul class="list-reset lg:flex justify-end flex-1 items-center">
                    <li class="mr-3">
                        <a class="inline-block no-underline hover:text-dark-color-2 hover:text-underline py-2 px-4"
                            href="https://www.linkedin.com/in/nerea-gonzález-198054276/">GitHub</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block no-underline hover:text-dark-color-2 hover:text-underline py-2 px-4"
                            href="https://www.linkedin.com/in/nerea-gonzález-198054276/">Linkedin</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block no-underline hover:text-dark-color-2 hover:text-underline py-2 px-4"
                            href="https://www.upwork.com/freelancers/~01220b313b8243510d?mp_source=share">UpWork</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mb-8">
        <div class="text-center px-3 lg:px-0">
            <h1 class="my-4 text-2xl md:text-3xl lg:text-5xl font-black text-white leading-tight">
                {{ 'The Future of Daily Efficiency, Now' | translate }}
            </h1>
            <p class="leading-normal text-light-color text-base md:text-xl lg:text-2xl mb-8">
                <span class="text-[#C08074]">{{ 'Reimagined' | translate }}. </span>
                <span class="text-[#FCCAA2]">{{ 'Refined' | translate }}. </span>
                <span class="text-[#873736]">{{ 'Reinvented' | translate }}. </span>
            </p>
            <p class="mx-auto lg:mx-0 text-light-color">
                {{ 'At the heart of the Plumbus X lies an uncompromised commitment to excellence. We’ve made it' |
                translate }}
                <b class="text-white">{{ '30% larger' | translate }}</b>,
                {{ 'delivering faster smudge-off capabilities —' | translate }}
                <b class="text-white">{{ '43% faster,' | translate }}</b>
                {{ 'to be exact. And with the addition of our revolutionary Fuller German lubrication system, it’s' |
                translate }}
                <b class="text-white">{{ '50% more efficient' | translate }}</b>
                {{ 'than ever before.' | translate }}
            </p>

        </div>
        <div class="video-container flex items-center w-full mx-auto content-end rounded mt-5">
            <iframe src="https://www.youtube.com/embed/JGaBU5cKluU" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <footer class="bg-black mt-10">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="text-sm text-dark-color-4 sm:text-center my-3">2024 Plumbus X. {{ 'Video by' | translate }}
                <a href="https://www.youtube.com/@nimrodanimations" class="hover:underline">Nimrod Animations</a>
            </span>
            <ul class="flex flex-wrap items-center text-sm my-3 font-medium text-dark-color-4 ">
                <li>
                    <a href="https://www.youtube.com/watch?v=kswwREj_NN8" class="hover:underline"> {{ 'Buy' | translate
                        }} <span class="text-[#873736]">Plumbus X</span></a>
                </li>
            </ul>
        </div>
    </footer>

</div>