/* Inputs */
::placeholder {
    color: var(--dark-color-2);
}

.search-button {
    transition: .2s;
}

.search-button:hover {
    background-color: var(--medium-green);
    transform: scale(0.9);
}

#dropdown-button,
#search-dropdown {
    border: 2px solid !important;
    border-color: var(--dark-color-2) !important;
}

/* Card description */
.status-portal {
    transition: .2s;
    cursor: pointer;
}

.status-portal:hover {
    transform: scale(1.8);
    margin-right: 0.8em;
}

.status-portal:active {
    transform: scale(1.2);
    margin-right: 0.8em;
}

/* Up button */
.up-button {
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 0.4);
    transition: 0.2s;
}

.up-button:hover {
    color: var(--light-green-moss);
    transform: scale(0.9);
}