/* Inputs */
::placeholder {
    color: var(--dark-color-2);
}

.search-button {
    transition: .2s;
}

.search-button:hover {
    background-color: var(--medium-green);
    transform: scale(0.9);
}

/* Card description */
.status-portal {
    transition: .2s;
    cursor: pointer;
}

.status-portal:hover {
    transform: scale(1.8);
    margin-right: 0.8em;
}

.status-portal:active {
    transform: scale(1.2);
    margin-right: 0.8em;
}