<div class="max-w-screen-xl mx-auto p-5" id="charListContainer">
    <!-- Search inputs -->
    <div class="pt-4 flex md:justify-between row justify-center items-center md:flex-wrap mb-8 ">
        <form [formGroup]="searchForm" class="flex items-center max-w-md mb-4">
            <div class="flex w-full">
                <button id="dropdown-button" data-dropdown-toggle="dropdown"
                    class="flex-shrink-0 z-10 inline-flex items-center p-2 md:py-2.5 md:px-4 text-xs md:text-sm font-medium text-center border-1 bg-dark-color-1-5 hover:bg-dark-color-1 hover:border-dark-color-1 hover:shadow-inner hover:text-light-green-moss text-light-color border rounded-s-lg focus:ring-4 focus:outline-none focus:ring-light-green-moss"
                    type="button">{{speciesSelectedName}}<svg class="w-2.5 h-2.5 ms-1.5 md:ms-2.5" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg></button>
                <div id="dropdown"
                    class="z-50 hidden bg-dark-color-1-5 divide-y divide-dark-color-1 rounded-lg shadow w-52">
                    <ul class="py-2 text-xs md:text-sm text-light-color" aria-labelledby="dropdown-button">
                        <li>
                            <button type="button" (click)="speciesSelection('Human')"
                                class="inline-flex w-full px-4 py-2 hover:bg-dark-color-1 ">{{'Human' | translate
                                }}</button>
                        </li>
                        <li>
                            <button type="button" (click)="speciesSelection('Alien')"
                                class="inline-flex w-full px-4 py-2 hover:bg-dark-color-1 "> {{'Alien' | translate
                                }}</button>
                        </li>
                        <li>
                            <button type="button" (click)="speciesSelection('Animal')"
                                class="inline-flex w-full px-4 py-2 hover:bg-dark-color-1 ">Animal </button>
                        </li>
                        <li>
                            <button type="button" (click)="speciesSelection('Humanoid')"
                                class="inline-flex w-full px-4 py-2 hover:bg-dark-color-1 "> {{'Humanoid' | translate
                                }}</button>
                        </li>
                        <li>
                            <button type="button" (click)="speciesSelection('Poopybutthole')"
                                class="inline-flex w-full px-4 py-2 hover:bg-dark-color-1 "> {{'Poopybutthole' |
                                translate
                                }}</button>
                        </li>
                        <li>
                            <button type="button" (click)="speciesSelection('Mythological Creature')"
                                class="inline-flex w-full px-4 py-2 hover:bg-dark-color-1 "> {{'Mythological Creature' |
                                translate
                                }}</button>
                        </li>
                        <li>
                            <button type="button" (click)="speciesSelection('Robot')"
                                class="inline-flex w-full px-4 py-2 hover:bg-dark-color-1 ">Robot</button>
                        </li>
                        <li>
                            <button type="button" (click)="speciesSelection('Cronenberg')"
                                class="inline-flex w-full px-4 py-2 hover:bg-dark-color-1 ">Cronenberg</button>
                        </li>
                        <li>
                            <button type="button" (click)="speciesSelection('Disease')"
                                class="inline-flex w-full px-4 py-2 hover:bg-dark-color-1 "> {{'Disease' |
                                translate }}</button>
                        </li>
                        <li>
                            <button type="button" (click)="speciesSelection('unknown')"
                                class="inline-flex w-full px-4 py-2 hover:bg-dark-color-1 "> {{'Unknown' |
                                translate }}</button>
                        </li>
                    </ul>
                </div>
                <div class="relative w-full">
                    <input type="text" id="search-dropdown" type="text" formControlName="parameter" name="searchQuery"
                        class="rounded-e-lg bg-background-color text-light-color text-xs md:text-sm focus:ring-light-green-moss focus:border-light-green-pastel block w-full p-2.5  "
                        placeholder=" {{'Who has my plumbus?' |
                            translate }}" required autocomplete="off" />
                    <button type="submit" (click)="searchCharacterInput()"
                        class="absolute top-0 end-0 h-full p-2.5 text-xs md:text-sm font-medium text-white rounded-e-lg search-button ms-2 bg-light-green-moss focus:ring-4 focus:outline-none focus:ring-light-green-pastel ">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 64 64" fill="white">
                            <path
                                d="M 24 2.8886719 C 12.365714 2.8886719 2.8886719 12.365723 2.8886719 24 C 2.8886719 35.634277 12.365714 45.111328 24 45.111328 C 29.036552 45.111328 33.664698 43.331333 37.298828 40.373047 L 52.130859 58.953125 C 52.130859 58.953125 55.379484 59.435984 57.396484 57.333984 C 59.427484 55.215984 58.951172 52.134766 58.951172 52.134766 L 40.373047 37.298828 C 43.331332 33.664697 45.111328 29.036548 45.111328 24 C 45.111328 12.365723 35.634286 2.8886719 24 2.8886719 z M 24 7.1113281 C 33.352549 7.1113281 40.888672 14.647457 40.888672 24 C 40.888672 33.352543 33.352549 40.888672 24 40.888672 C 14.647451 40.888672 7.1113281 33.352543 7.1113281 24 C 7.1113281 14.647457 14.647451 7.1113281 24 7.1113281 z">
                            </path>
                        </svg>
                        <span class="sr-only"> {{'Search' |
                            translate }}</span>
                    </button>
                </div>
            </div>
        </form>
        <div class="join flex items-center justify-center md:justify-end md:w-1/3 mb-4 z-40 ">
            <button *ngIf="previousCharacterPage && previousCharacterPage != null" (click)="previousPage()"
                class="text-xs md:text-sm join-item btn bg-dark-color-1-5 border-dark-color-1-5 hover:bg-dark-color-1 hover:border-dark-color-1 hover:shadow-inner hover:text-light-green-moss text-light-color">«</button>
            <button *ngIf="!previousCharacterPage || previousCharacterPage == null"
                class="text-xs md:text-sm join-item btn bg-dark-color-1-5 border-dark-color-1-5 hover:bg-dark-color-1 hover:border-dark-color-1 hover:shadow-inner hover:text-light-green-moss text-light-color disabled:shadow-inner disabled:bg-dark-color-1 "
                disabled>«</button>
            <button
                class="text-xs md:text-sm join-item btn bg-dark-color-1-5 border-dark-color-1-5 hover:bg-dark-color-1 hover:border-dark-color-1 hover:shadow-inner hover:text-light-green-moss text-light-color">{{'Page'
                |
                translate }}
                {{actualPage}}</button>
            <button *ngIf="nextCharacterPage && nextCharacterPage != null" (click)="nextPage()"
                class="join-item btn bg-dark-color-1-5 border-dark-color-1-5 hover:bg-dark-color-1 hover:border-dark-color-1 hover:shadow-inner hover:text-light-green-moss text-light-color">»</button>
            <button *ngIf="!nextCharacterPage || nextCharacterPage == null"
                class="text-xs md:text-sm join-item btn bg-dark-color-1-5 border-dark-color-1-5 hover:bg-dark-color-1 hover:border-dark-color-1 hover:shadow-inner hover:text-light-green-moss text-light-color disabled:shadow-inner disabled:bg-dark-color-1 "
                disabled>»</button>
        </div>
    </div>

    <!-- Loading spinner-->
    <div role="status" [class.hidden]="!loadingCards" class="w-full h-full flex items-center justify-center p-8">
        <svg aria-hidden="true" class="inline w-8 h-8 animate-spin text-light-color fill-light-green-pastel"
            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
            <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
        </svg>
    </div>
    <!-- Empty page-->
    <div role="status" [class.hidden]="characterList.length > 0 || loadingCards"
        class="w-full h-full flex items-center justify-center p-8">
        <img src="assets/svg/empty-page.svg" class="w-1/2 pt-4">
    </div>
    <!-- CARDS -->
    <div [class.hidden]="loadingCards" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
        <div *ngFor="let character of characterList ">
            <!-- CARD -->
            <div class="rounded overflow-hidden shadow-md flex flex-col">
                <div class="relative"><a (click)="obtainCharacterData(character.id)">
                        <img class="w-full" src="{{character.image}}" alt="{{character.name}}">
                        <div
                            class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-background-color opacity-25 cursor-pointer">
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto bg-dark-color-1-5 text-white">
                    <a (click)="obtainCharacterData(character.id)"
                        class="font-medium text-lg hover:text-light-green-bright transition duration-500 ease-in-out inline-block mb-2 cursor-pointer">{{character.name}}</a>

                    <!-- Character info -->
                    <p class="text-dark-color-4 text-sm">
                        {{'Origin:' | translate }}
                    </p>
                    <p *ngIf="character.origin" class="text-light-color text-base">
                        {{character.origin.name}}
                    </p>
                    <p *ngIf="!character.origin" class="text-light-color text-base">
                        {{'unknown' | translate }}
                    </p>

                    <p class="text-dark-color-4 text-sm mt-3">
                        {{'Frist seen in:' | translate }}
                    </p>
                    <p *ngIf="character.episode[0]" class="text-light-color text-base">
                        {{character.episode[0].translatedName}}
                    </p>
                    <p *ngIf="!character.episode[0]" class="text-light-color text-base">
                        {{'unknown' | translate }}
                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-dark-color-2">
                    <span class="py-1 text-xs font-regular mr-1 flex flex-row items-center">
                        <img *ngIf="character.status == 'Alive'" src="assets/svg/green-portal.svg"
                            class="status-portal h-5">
                        <img *ngIf="character.status == 'Dead'" src="assets/svg/red-portal.svg"
                            class="status-portal h-5">
                        <img *ngIf="character.status == 'unknown'" src="assets/svg/gray-portal.svg"
                            class="status-portal h-5">
                        <span class="ml-1 text-base text-light-color"> {{ character.translatedStatus }}</span>
                    </span>

                    <span class="py-1 text-xs font-regular mr-1 flex flex-row items-center">
                        <span class="ml-1 text-base text-dark-color-4">{{ character.translatedSpecies }}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scroll to top -->
<div [class.hidden]="characterList.length < 1" class="w-full flex justify-center">
    <button id="scrollButton" type="button" data-twe-ripple-init data-twe-ripple-color="light" (click)="scrollToTop()"
        class="up-button md:mt-2 mr-2 inline-block rounded bg-background-color px-3 py-1.5 md:py-2.5 text-xs font-medium uppercase leading-normal text-light-color shadow-inner transition duration-150 ease-in-out hover:shadow-xl focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg">
        <span class="[&>svg]:h-3 [&>svg]:w-3 md:[&>svg]:h-5 md:[&>svg]:w-7">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor" viewBox="0 0 122.88 66.91"
                style="enable-background:new 0 0 122.88 66.91" xml:space="preserve">
                <g>
                    <path
                        d="M11.68,64.96c-2.72,2.65-7.08,2.59-9.73-0.14c-2.65-2.72-2.59-7.08,0.13-9.73L56.87,1.97l4.8,4.93l-4.81-4.95 c2.74-2.65,7.1-2.58,9.76,0.15c0.08,0.08,0.15,0.16,0.23,0.24L120.8,55.1c2.72,2.65,2.78,7.01,0.13,9.73 c-2.65,2.72-7,2.78-9.73,0.14L61.65,16.5L11.68,64.96L11.68,64.96z" />
                </g>
            </svg>
        </span>
    </button>
</div>